# Archivos de configuración del entorno y secretos
.env
.pem
BackEnd-Clinica/.env 
src/main/resources/keys/*.pem

# Configuración de IDEs
.idea/
.vscode/ 
*.iml    
.project 
.classpath 
.settings/ 

# Salida de compilación y dependencias (Spring Boot / Maven / Gradle)
target/
build/
*.jar
*.war
*.zip
*.tar.gz

# Dependencias de Maven
/mvnw
/mvnw.cmd
.mvn/wrapper/maven-wrapper.properties
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next

# Dependencias de Gradle (si usas Gradle)
.gradle/
*/.project
*/.gradle

# Logs
*.log
log/
logs/

# Directorios de compilación en general
bin/

# Archivos de sistema
.DS_Store 
Thumbs.db 

# Nuevas adiciones para tu frontend (Astro / Node.js)
FrontEnd-Clinica/.astro/
FrontEnd-Clinica/node_modules/
FrontEnd-Clinica/dist/
FrontEnd-Clinica/.cache/